h1{
    color: rgb(42, 59, 73);
}
img{
    width: 400px;
}
#ThirdDiv {
    width: 500px; 
    height: 600px;
    background-color: rgb(63, 61, 82);
}
#spanId {
    font-size: 18px;
     margin: 50px;
    }
.divClass {
     padding: 50px;
     border: 2px 
     solid rgb(8, 8, 8);
    }
body {
    background-color: papayawhip;
}
div {
    text-align: center;
}
#ThirdDiv {
    margin: auto; 
    display:block;
}
#ThirdDiv ul li {
    list-style:none
}